<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>



<h1> Jewerly List... </h1>

<% form_tag grants_path, :method=>'get' do %>
<p> <%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name =>nail %>
</p>
<% end %>


<% @products.each do |product| %>
    <div class="entry">
    
		<%= image_tag(product.image_url) %>
		
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %>
		
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span> 
			
			<%= button_to 'Add to Cart', line_items_path(product_id: product) %>
			<!--   remote: true  -->
		</div>
	</div>
<% end %>